@font-face {
  font-family: 'Beaufort for LOL';
  src: url('./fonts/BeaufortforLOL-Heavy.ttf') format('truetype');
}

@font-face {
  font-family: 'Beaufort for LOL';
  src: url('./fonts/BeaufortforLOL-Medium.ttf') format('truetype');
}

:root {
  --colorHeading: #32C8FF;
  --colorButton: #32C8FF;
  --colorSquare: #32C8FF;
}

.App {
  text-align: center;
}

.mainContent__container {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-position: center; /* Wyśrodkowanie obrazu */
  background-size: contain; /* Dopasowanie obrazu do wymiarów kontenera */
  background-image: linear-gradient(rgba(249, 253, 255, 0.5), rgba(148, 235, 247, 0.5));
}

.mainContent__container::before {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
  width: 100%; /* Ustaw szerokość na 100% */
  height: 100%; /* Ustaw wysokość na 100% */
  background: linear-gradient(
  to left,
  transparent 300px,
  #c0c0c0 300px 301px,
  transparent 301px 600px,
  #c0c0c0 600px 601px,
  transparent 601px 900px,
  #c0c0c0 900px 901px,
  transparent 901px 1200px
);
}

video {
  width: 90%;
  border: 0.8px solid #c0c0c0;
  padding: 0.5rem;
}